In [ ]:
!pip install SQLAlchemy

In [ ]:
!pip install psycopg2-binary

* Setup Postgres Database

```
CREATE DATABASE sms_db;
CREATE USER sms_user WITH ENCRYPTED PASSWORD 'itversity';
GRANT ALL ON DATABASE sms_db TO sms_user;
```

* Setup Tables

**Students**

```
CREATE TABLE students (
    student_id SERIAL PRIMARY KEY,
    student_first_name VARCHAR(30),
    student_last_name VARCHAR(30),
    student_email_id VARCHAR(50),
    student_contact_no VARCHAR(15),
    student_status VARCHAR(10)
);
```

* Students Data

```
insert into students (student_id, student_first_name, student_last_name, student_email_id, student_contact_no, student_status)
values (NEXTVAL('students_student_id_seq'), 'Malinda', 'Massen', 'mmassen0@amazon.de', '4019269093', 'Active');
insert into students (student_id, student_first_name, student_last_name, student_email_id, student_contact_no, student_status)
values (NEXTVAL('students_student_id_seq'), 'Helli', 'Buckerfield', 'hbuckerfield1@dedecms.com', '1444418720', 'Pending');
insert into students (student_id, student_first_name, student_last_name, student_email_id, student_contact_no, student_status) 
values (NEXTVAL('students_student_id_seq'), 'Sollie', 'Handling', 'shandling2@mac.com', '9063517646', 'Pending');
insert into students (student_id, student_first_name, student_last_name, student_email_id, student_contact_no, student_status)
values (NEXTVAL('students_student_id_seq'), 'Hobart', 'Tidder', 'htidder3@people.com.cn', '4489119934', 'Rejected');
insert into students (student_id, student_first_name, student_last_name, student_email_id, student_contact_no, student_status)
values (NEXTVAL('students_student_id_seq'), 'Feliks', 'Blackater', 'fblackater4@booking.com', '3378957603', 'Rejected');
insert into students (student_id, student_first_name, student_last_name, student_email_id, student_contact_no, student_status) 
values (NEXTVAL('students_student_id_seq'), 'Kanya', 'Teodori', 'kteodori5@vimeo.com', '1265187419', 'Active');
insert into students (student_id, student_first_name, student_last_name, student_email_id, student_contact_no, student_status)
values (NEXTVAL('students_student_id_seq'), 'Renaldo', 'Swyre', 'rswyre6@techcrunch.com', null, 'Pending');
insert into students (student_id, student_first_name, student_last_name, student_email_id, student_contact_no, student_status)
values (NEXTVAL('students_student_id_seq'), 'Constancia', 'Parton', 'cparton7@gnu.org', '1821041621', 'Rejected');
insert into students (student_id, student_first_name, student_last_name, student_email_id, student_contact_no, student_status)
values (NEXTVAL('students_student_id_seq'), 'Ker', 'Bilbee', 'kbilbee8@yelp.com', '1661616087', null);
insert into students (student_id, student_first_name, student_last_name, student_email_id, student_contact_no, student_status)
values (NEXTVAL('students_student_id_seq'), 'Ophelie', 'Dain', 'odain9@fda.gov', '7586941625', 'Rejected');
```

In [ ]:
connection = psycopg2.connect(user='sms_user',
                        password='itversity',
                        host='dslab.itversity.com',
                        database='sms_db',
                        port='5433'
                       )

In [1]:
import sqlalchemy as db

In [2]:
import psycopg2

from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [3]:
class Student(Base):
    __tablename__ = 'students'
    student_id = db.Column(db.Integer, primary_key=True)
    student_first_name = db.Column(db.String(30))
    student_last_name = db.Column(db.String(30))
    student_email_id = db.Column(db.String(50), unique=True)
    student_contact_no = db.Column(db.String(15))
    student_status = db.Column(db.String(10))
    
    def __repr__(self):
        return """<Student(student_id='%s', student_first_name='%s', student_last_name='%s',
                           student_email_id='%s', student_contact_no='%s', student_status='%s'
                  )>""" % (
                  self.student_id, self.student_first_name, self.student_last_name,
                  self.student_email_id, self.student_contact_no, self.student_status
                  )

In [4]:
import logging
logging.basicConfig()
logging.getLogger('sqlalchemy.engine').setLevel(logging.INFO)
engine = db.create_engine('postgresql://sms_user:itversity@dslab.itversity.com:5433/sms_db')
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()

In [5]:
query = session.query(Student)

In [6]:
for student in query.all():
    print(student)

INFO:sqlalchemy.engine.base.Engine:select version()
INFO:sqlalchemy.engine.base.Engine:{}
INFO:sqlalchemy.engine.base.Engine:select current_schema()
INFO:sqlalchemy.engine.base.Engine:{}
INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
INFO:sqlalchemy.engine.base.Engine:{}
INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
INFO:sqlalchemy.engine.base.Engine:{}
INFO:sqlalchemy.engine.base.Engine:show standard_conforming_strings
INFO:sqlalchemy.engine.base.Engine:{}
INFO:sqlalchemy.engine.base.Engine:BEGIN (implicit)
INFO:sqlalchemy.engine.base.Engine:SELECT students.student_id AS students_student_id, students.student_first_name AS students_student_first_name, students.student_last_name AS students_student_last_name, students.student_email_id AS students_student_email_id, students.student_contact_no AS students_student_contact_no, students.student_status AS students_student_status
FROM students
INFO:sqlalchemy.engine.base.Engine:{}

<Student(student_id='1', student_first_name='Malinda', student_last_name='Massen',
                           student_email_id='mmassen0@amazon.de', student_contact_no='4019269093', student_status='Active'
                  )>
<Student(student_id='2', student_first_name='Helli', student_last_name='Buckerfield',
                           student_email_id='hbuckerfield1@dedecms.com', student_contact_no='1444418720', student_status='Pending'
                  )>
<Student(student_id='3', student_first_name='Sollie', student_last_name='Handling',
                           student_email_id='shandling2@mac.com', student_contact_no='9063517646', student_status='Pending'
                  )>
<Student(student_id='4', student_first_name='Hobart', student_last_name='Tidder',
                           student_email_id='htidder3@people.com.cn', student_contact_no='4489119934', student_status='Rejected'
                  )>
<Student(student_id='5', student_first_name='Feliks', student_last_name='Blackater',
                           student_email_id='fblackater4@booking.com', student_contact_no='3378957603', student_status='Rejected'
                  )>
<Student(student_id='6', student_first_name='Kanya', student_last_name='Teodori',
                           student_email_id='kteodori5@vimeo.com', student_contact_no='1265187419', student_status='Active'
                  )>
<Student(student_id='7', student_first_name='Renaldo', student_last_name='Swyre',
                           student_email_id='rswyre6@techcrunch.com', student_contact_no='None', student_status='Pending'
                  )>
<Student(student_id='8', student_first_name='Constancia', student_last_name='Parton',
                           student_email_id='cparton7@gnu.org', student_contact_no='1821041621', student_status='Rejected'
                  )>
<Student(student_id='9', student_first_name='Ker', student_last_name='Bilbee',
                           student_email_id='kbilbee8@yelp.com', student_contact_no='1661616087', student_status='None'
                  )>
<Student(student_id='10', student_first_name='Ophelie', student_last_name='Dain',
                           student_email_id='odain9@fda.gov', student_contact_no='7586941625', student_status='Rejected'
                  )>

In [7]:
new_student = Student(student_first_name='Donald', 
                  student_last_name='Duck',
                  student_email_id='donald@duck.com', 
                  student_contact_no='1234567890', 
                  student_status='Pending'
                 )

In [8]:
session.add(new_student)

In [9]:
session.commit()

INFO:sqlalchemy.engine.base.Engine:INSERT INTO students (student_first_name, student_last_name, student_email_id, student_contact_no, student_status) VALUES (%(student_first_name)s, %(student_last_name)s, %(student_email_id)s, %(student_contact_no)s, %(student_status)s) RETURNING students.student_id
INFO:sqlalchemy.engine.base.Engine:{'student_first_name': 'Donald', 'student_last_name': 'Duck', 'student_email_id': 'donald@duck.com', 'student_contact_no': '1234567890', 'student_status': 'Pending'}
INFO:sqlalchemy.engine.base.Engine:COMMIT

In [15]:
student = session.query(Student).filter_by(student_first_name='Donald').first()

INFO:sqlalchemy.engine.base.Engine:SELECT students.student_id AS students_student_id, students.student_first_name AS students_student_first_name, students.student_last_name AS students_student_last_name, students.student_email_id AS students_student_email_id, students.student_contact_no AS students_student_contact_no, students.student_status AS students_student_status
FROM students
WHERE students.student_first_name = %(student_first_name_1)s
 LIMIT %(param_1)s
INFO:sqlalchemy.engine.base.Engine:{'student_first_name_1': 'Donald', 'param_1': 1}

In [16]:
print(student)

<Student(student_id='12', student_first_name='Donald', student_last_name='Duck',
                           student_email_id='donald@duck.com', student_contact_no='1234567890', student_status='Pending'
                  )>

In [17]:
student.student_status = 'Approved'

In [18]:
session.add(student)

In [19]:
session.commit()

INFO:sqlalchemy.engine.base.Engine:UPDATE students SET student_status=%(student_status)s WHERE students.student_id = %(students_student_id)s
INFO:sqlalchemy.engine.base.Engine:{'student_status': 'Approved', 'students_student_id': 12}
INFO:sqlalchemy.engine.base.Engine:COMMIT

In [20]:
session.delete(student)

In [21]:
session.commit()

INFO:sqlalchemy.engine.base.Engine:BEGIN (implicit)
INFO:sqlalchemy.engine.base.Engine:SELECT students.student_id AS students_student_id, students.student_first_name AS students_student_first_name, students.student_last_name AS students_student_last_name, students.student_email_id AS students_student_email_id, students.student_contact_no AS students_student_contact_no, students.student_status AS students_student_status
FROM students
WHERE students.student_id = %(param_1)s
INFO:sqlalchemy.engine.base.Engine:{'param_1': 12}
INFO:sqlalchemy.engine.base.Engine:DELETE FROM students WHERE students.student_id = %(student_id)s
INFO:sqlalchemy.engine.base.Engine:{'student_id': 12}
INFO:sqlalchemy.engine.base.Engine:COMMIT

In [25]:
from sqlalchemy import func

In [37]:
status_count = session.query(Student.student_status, func.count(1).label('count')).group_by(Student.student_status)

In [42]:
status_count.column_descriptions

[{'name': 'student_status',
  'type': String(length=10),
  'aliased': False,
  'expr': <sqlalchemy.orm.attributes.InstrumentedAttribute at 0x10c1bfe90>,
  'entity': __main__.Student},
 {'name': 'count',
  'type': Integer(),
  'aliased': False,
  'expr': <sqlalchemy.sql.elements.Label object at 0x10d011450>,
  'entity': None}]